table {
    border-collapse: collapse;
    color: #686461;
    margin: auto;
    text-align: center;
}

caption {
    padding: 10px;
    color: white;
    background: #747373;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

th {
    border-bottom: 3px solid #717070;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #c7c7c7;
}
.description {
    text-align: left;
}